body {
    font-family: 'Comfortaa', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    color: #333;
}

.back-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .back-video video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    object-fit: cover;
  }

.logo {
    display: block;
    margin: 20px auto;
    max-width: 150px;
}

header {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(36, 91, 38, 0.8);
    color: rgb(22, 235, 160);
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.Tickets-continue-pg {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px 0;
}

section h1 {
    color: #4CAF50;
}

section p {
    color: #666;
}

input[type="date"],
input[type="number"],
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

section2,
section3,
section4,
section5 {
    padding: 20px 0;
}

section2 h2,
section3 h2,
section4 h2,
section5 h2 {
    color: #4CAF50;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.button a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}


@media (min-aspect-ratio: 16/9) {
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .back-video{
        width: auto;
        height: 100%;
    }
}